---
// FUNCTION 1
const res = await fetch("https://api.github.com/users/yinchurijnaard/repos", {
  headers: {
    Authorization: `token ${import.meta.env.GITHUB_PAT}`,
    "User-Agent": "Astro-Portfolio-App",
    Accept: "application/vnd.github+json",
  },
});

// FUNCTION 2
const rawRepos = await res.json();

// FUNCTION 3
const myRepos = rawRepos
  .filter(
    (repo: { fork: any; topics: string | string[] }) =>
      !repo.fork && repo.topics.includes("portfolio"),
  )
  .map(
    (repo: {
      id: number;
      name: string;
      stargazers_count: number;
      language: string;
      description: string;
      html_url: string;
      homepage: string;
    }) => ({
      id: repo.id,
      name: repo.name,
      stars: repo.stargazers_count,
      language: repo.language || "N/A",
      description: repo.description,
      url: repo.html_url,
      homepage: repo.homepage,
    }),
  )
  .sort((a: { stars: number }, b: { stars: number }) => b.stars - a.stars);
---

<div class="text-text-secondary flex flex-col gap-4 p-8 sm:px-32">
  <!-- DIV 1 -->
  <!-- PROJECTS -->
  <div class="flex flex-col gap-1 font-bold">
    <h2 class="text-text text-2xl sm:text-4xl">
      Projects<span class="text-orange-500">.</span>
    </h2>
    <h3 class="text-text-secondary">Some of the things I&apos;ve built</h3>
  </div>

  <!-- DIV 2 -->
  <!-- PROJECTS CARDS -->
  <div class="grid-cols grid grid-cols-1 gap-8 sm:grid-cols-2">
    {
      myRepos.map((repo: any) => (
        <div
          id={repo.id}
          class="bg-card border-border shadow-background-invert flex flex-col items-start justify-between gap-2 rounded border p-8 shadow-sm"
        >
          <p class="text-text font-bold">
            {repo.name} | ⭐️ {repo.stars}
          </p>
          <p class="text-text-secondary">{repo.description}</p>
          <div class="flex flex-row gap-4">
            <a
              href={repo.homepage}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-orange-500"
            >
              Demo <i class="ri-window-line" />
            </a>
            <a
              href={repo.url}
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-orange-500"
            >
              GitHub <i class="ri-github-fill" />
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
